// colors
$white: #ffffff;

$gray-500: #343A40;
$gray-400: #495057;
$gray-300: #868E96;
$gray-200: #ADB5BD;
$gray-100: #CED4DA;

$dark-blue-500: #052051;
$dark-blue-400: #072B61;
$dark-blue-300: #0A3871;
$dark-blue-200: #356EA9;
$dark-blue-100: #609ED4;

$light-blue-500: #757FB2;
$light-blue-400: #AAB2D5;
$light-blue-300: #E9ECF8;
$light-blue-200: #EFF1FA;
$light-blue-100: #F3F5FC;

// font 
$f-roboto: 'Roboto', sans-serif;
// font sizes
$f-font-size: ("normal": 1rem, "small":1.953rem , "medium": 2.441rem, "big": 3.052rem  );
$f-font-weight: ( "light": 300, "normal": 400, "medium": 500, "bold": 700 );