@import "reset";
@import "variables";
@import "responsive";
// pages
@import "game";
@import "word";
// ============= *** ============================
body {
  background-color: $white;
  height: 100vh;
}

a {
  text-decoration: none;
}

.btn {
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 24px ;
  white-space: nowrap;
  @include screen( pc ){
    
    margin-right: 1rem;
  }
}

.btn-primary {
  background-color: $dark-blue-300;
  color: $white;
}

.btn-secundary {
  background-color: $light-blue-300;
  border: 1px solid $dark-blue-300;
  color: $dark-blue-300;

}


// container
.container {
  @include screen( pc ) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
  }
  @include screen( mobile ) {
    width: 100%;
  }
}

// main
.main {
  height: 100%;
  background-color: $light-blue-300;
}

// --- header ---
.header {

}

.logo {
  margin-top: 1rem;
}
// --- buttons ---

.buttons {
  display: flex;
  @include screen( pc ){
    flex: 2;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
}

.btn-start {

}

.btn-add {
  
}

// sectiion game 
.game {
  @include screen( pc ) {
    display: none;
    flex: 1;
  }
  
}

.play {
  height: 600px;
  text-align: center;
  .canvas {
    background-color: #0000ff;
  }
}





// section word
.section-word {
  display: none;
}

.input-text {
  flex: 1;
  margin-bottom: 20rem;
}

.d-flex {
  display: flex;
  flex-direction: column;
  
}
