@import "reset";
@import "variables";
@import "responsive";

body {
  background-color: $white;
  height: 100vh;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  border-radius: 24px;
}

// container
.container {
  @include screen( pc ) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
  }
  @include screen( mobile ) {
    width: 100%;
  }
}
// main
.main {
  height: 100%;
  background-color: $light-blue-300;
}
// --- header ---
.header {

}

.logo {
  margin-top: 1rem;
}
// --- buttons ---

.buttons {
  display: flex;
  @include screen( pc ){
    flex: 2;
    justify-content: center;
    align-items: center;

  }
}

.btn-start {
  background-color: $dark-blue-300;
  @include screen( pc ){
    width: 322px;
    height: 105px;
    margin-right: 1rem;
  }
  a {
    color: $white;
  }
}

.btn-add {
  background-color: $light-blue-300;
  @include screen( pc ) {
    width: 322px;
    height: 105px;
  }
  a {
    color: $dark-blue-300;
  }
}
